@use 'styles/sizes';
@use 'styles/colors';

.root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: sizes.$navbar-height;
	background: colors.$purple;
	box-shadow: 0 0 5px 0 transparentize(colors.$dark, 0.5);
}

.content {
	display: flex;
	align-items: center;
	max-width: sizes.$max-width;
	width: sizes.$width-ratio;
	height: 100%;
	margin: 0 auto;
}

.home {
	margin-right: auto;
	text-decoration: none;
	font-size: 32px;
	font-weight: 800;
	color: white;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.questionnaires {
	margin-right: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 800;
	color: white;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.auth {
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 800;
	color: white;
	background: colors.$darker;
	border-radius: 4px;
	transition: background 0.3s, transform 0.3s;

	&:hover {
		background: colors.$dark;
	}

	&:active {
		transform: translateY(-2px);
	}
}

.authSlash {
	opacity: 0.7;
}
