@use 'styles/colors';

.root {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: colors.$darker;

	&:hover .title {
		text-decoration: underline;
	}
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.title {
	font-weight: 800;
}

.author {
	font-weight: 700;
	opacity: 0.5;
}

.responses {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 800;
	color: colors.$green;
}

.automated {
	margin-left: 4px;
}
