@use 'styles/sizes';
@use 'styles/colors';

.root {
	background: colors.$purple;
}

.content {
	display: flex;
	justify-content: space-between;
	max-width: sizes.$max-width;
	width: sizes.$width-ratio;
	margin: 0 auto;
	padding: 16px 0 32px;
}

.article {
	flex-grow: 1;
	max-width: 500px;
}

.title {
	font-size: 60px;
	color: colors.$darker;
}

.subtitle {
	margin-top: 12px;
	font-size: 30px;
}

.graph {
	flex-shrink: 0;
	width: 100px;
}

.auth {
	margin-top: 20px;
	padding: 8px 16px;
	font-size: 20px;
	font-weight: 800;
	background: colors.$light;
	border-radius: 4px;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}
