@use 'styles/sizes';
@use 'styles/colors';

.root {
	background: colors.$purple;
}

.content {
	display: flex;
	justify-content: space-between;
	max-width: sizes.$max-width;
	width: sizes.$width-ratio;
	margin: 0 auto;
	padding: 16px 0 32px;
}

.article {
	flex-grow: 1;
	max-width: 500px;
	color: white;
}

.title {
	font-size: 60px;
}

.subtitle {
	margin-top: 12px;
	font-size: 30px;
}

.graph {
	flex-shrink: 0;
	width: 100px;
}
